@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: rgb(24 24 27);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.maplibregl-canvas-container.maplibregl-interactive,
.maplibregl-ctrl-group button.maplibregl-ctrl-compass {
  cursor: crosshair;
}
.stadiamaps-search-box .input-container input {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin-top: 2rem;
  padding: 1rem 0 1rem 0.75rem;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}
.stadiamaps-search-box .input-container .cancel {
  background: red;
  opacity: 1;
}
/* off-grey #212427; */
